#infocont{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h2{
        font-family: Verdana;
        letter-spacing: 1.1;
        font-weight: 600;
        font-size: 30px;
        opacity: .9;
        margin-bottom: 12px;
    }
    p{
        font-family: monospace;
        letter-spacing: 1;
        font-size: 17px;
        opacity: .5;
    }
    #circle{
        position: relative;
        height: 400px;
        width: 400px;
        background: radial-gradient(rgba(48, 122, 48, 0.31),transparent);
        border-radius: 100%;
        flex-shrink: 0;
        img{
            transform: scale(1.5) translate(-34%,-34%);
            position: absolute;
            top: 70%;
            left: 47%;
        }
        
    }
}
#links{
    margin-top: .75rem;
    margin-bottom: 2.75rem;
    display: flex;
    gap: 1.5rem;
    svg{
        opacity: .8;
        transition: 200ms;
        height: 45;
        width: 45;
        padding: 5px;
        border-radius: 14px;
        border: 1px solid rgb(90, 94, 93);
    }
    svg:hover{
        opacity: 1;
    }
}
#tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    svg{
        opacity: .7;
        height: 30;
        width: 30;
    }
}
@media (max-width:1200px) {
        #circle{
            scale: .9;
        }
        #infocont{
            gap: 10px;
        }
}
@media (max-width:820px) {
    #infocont{
        flex-direction: column;
        gap: 15px;
    }
    #circle{
        height: 200px;
        width: 200px;
        scale: .8;
    }
}
@media (max-height:700px) {
    #circle{
        display: none;
    }
    #infocont{
        h2{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
}